* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  background-color: #edeeef;
  display: flex;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17em;
  height: 100vh;
  background: linear-gradient(
  rgba(20,20,20, .7),
  rgba(20,20,20, .7)),
  url('./assets/hanging-brooms.jpeg');
  background-position: right bottom;
}

.app-title-container {
  width: 90%;
  padding-top: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #edeeef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.app-title {
  color: #edeeef;
  display: inline-block;
}

.app-icon {
  margin-left: 0.5em;
}

.menu-item-container {
  width: 80%;
}

.menu-item {
  width: 100%;
  color: #edeeef;
  margin-top: 1em;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.item-icon {
  width: 30%;
  padding-right: 1em;
}

.item-name {
  display: inline-block;
  width: 70%;
  font-size: 1.4em;
}

.menu-item:hover {
  border-bottom: 1px solid #edeeef;
}


/* STAFF */

.staff-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
}

.staff-title {
  color: #737078;
  padding-left: 0.5em;
}

.staff-member-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.staff-new-member-btn {
  height: 10em;
  width: 21%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* STAFF MEMBER */

.staff-member-card {
  border: 1px solid #737078;
  padding: 1em;
  width: 21%;
  height: 10em;
  margin: 1em;
  border-radius: 25px;
  box-shadow: 1px 1px #737078;
  position: relative;
}

.staff-member-card:hover {
  box-shadow: 2px 2px #737078;
}

.staff-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #737078;
}

.staff-role {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #737078;
}

.staff-card-assign-task {
  position: absolute;
  cursor: pointer;
  left: 15px;
  bottom: 10px;
  width: 4em;
  padding: 0.25em;
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: #b7410e;
  font-size: 0.85em;
}

.staff-edit-delete-container {
  width: 3em;
  height: 1em;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.staff-edit {
  margin-right: 0.25em;
  cursor: pointer;
  color: #737078
}

.staff-delete {
  cursor: pointer;
  color: #737078
}

.staff-edit:hover,
.staff-delete:hover {
  color: #b7410e;
}

.staff-card-task-count {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  text-align: center;
  border: 1px solid #737078;
  background-color: #edeeef;
  color: #b7410e;
}

