* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  background-color: #edeeef;
  display: flex;
}

/* SIDEBAR */

.sidebar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 17em;
  height: 100vh;
  background: linear-gradient(
  rgba(20,20,20, .7),
  rgba(20,20,20, .7)),
  url('./assets/hanging-brooms.jpeg');
  background-position: right bottom;
}

.app-title-container {
  width: 90%;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #edeeef;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.app-title {
  color: #edeeef;
  display: inline-block;
}

.menu-item-container {
  width: 80%;
}

.menu-item {
  width: 100%;
  color: #edeeef;
  margin-top: 1em;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.item-icon {
  width: 30%;
  padding-right: 1em;
}

.item-name {
  display: inline-block;
  width: 70%;
  font-size: 1.4em;
}

.menu-item:hover {
  border-bottom: 1px solid #edeeef;
}

.bottom-right-img {
  position: fixed;
  bottom: 2em;
  right: 3em;
}

/* STAFF */

.staff-container {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
}

.staff-title {
  color: #737078;
  padding-left: 0.5em;
}

.staff-member-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.staff-new-member-btn {
  height: 10em;
  width: 21%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* STAFF MEMBER */

.staff-member-card {
  /* border: 1px solid #737078; */
  border: 1px solid #edeeef;
  background-color: #edeeef;
  padding: 1em;
  width: 21%;
  height: 10em;
  margin: 1em;
  border-radius: 25px;
  /* box-shadow: 1px 1px #737078; */
  box-shadow:
  0 -0.4px 8.2px rgba(0, 0, 0, 0.038),
  0 3.5px 22.8px rgba(0, 0, 0, 0.055),
  0 31.7px 54.9px rgba(0, 0, 0, 0.072),
  0 100px 182px rgba(0, 0, 0, 0.11);
  position: relative;
}

/* .staff-member-card:hover {
  box-shadow: 2px 2px #737078;
} */

.staff-name {
  font-size: 1.2em;
  font-weight: bold;
  color: #737078;
}

.staff-role {
  margin-top: 0.5em;
  font-size: 1.2em;
  color: #737078;
}

.staff-card-assign-task {
  position: absolute;
  cursor: pointer;
  left: 15px;
  bottom: 10px;
  width: 6.5em;
  padding: 0.25em;
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: #b7410e;
  font-size: 0.85em;
}

.staff-edit-delete-container {
  width: 3em;
  height: 1em;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.staff-edit,
.assignment-edit,
.task-edit {
  margin-right: 0.25em;
  cursor: pointer;
  color: #737078
}

.staff-delete,
.assignment-delete,
.task-delete {
  cursor: pointer;
  color: #737078
}

.staff-edit:hover,
.staff-delete:hover {
  color: #b7410e;
}

.assignment-edit:hover,
.assignment-delete:hover {
  color: #4cac84;
}

.task-edit:hover,
.task-delete:hover {
  color: #445bb2;
  ;
}

.staff-card-task-count {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  text-align: center;
  border: 1px solid #737078;
  background-color: #edeeef;
  color: #b7410e;
}

/* STAFF FORM */

.form-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.form-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 30vw;
  /* border: 1px solid black; */
  box-shadow:
  0 0.8px 3.6px rgba(0, 0, 0, 0.105),
  0 7.6px 10px rgba(0, 0, 0, 0.15),
  0 42px 24.1px rgba(0, 0, 0, 0.195),
  0 100px 80px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: auto;
  background-color: white;
  padding: 2.5em;
}

.staff-form {
  display: grid;
  grid-template-columns: 200px, 1fr;
  grid-gap: 16px;
}

.staff-form-label {
  grid-column: 1/2;
  text-align: right;
}

.staff-form-input {
  resize: none;
  grid-column: 2/3;
}

.staff-form-title {
  text-align: center;
  font-weight: lighter;
  margin-bottom: 1em;
}

.staff-form-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* MESSAGE MODAL */

.message-form-container {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  width: 45vw;
  border: 1px solid black;
  border-radius: 10px;
  margin: auto;
  background-color: white;
  padding: 2.5em;
}

.message-area {
  height: 40vh;
  width: 40vw;
  overflow: scroll;
  display: flex;
  flex-direction: column-reverse;
  margin-top: 1em;
  margin-bottom: 1em;
}

.chat-msg {
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

.admin-chat-timestamp {
  margin-top: 0.25em;
  font-size: 0.70em;
  text-align: right;
  margin-right: 1em;
}

.employee-chat-timestamp {
  margin-top: 0.25em;
  font-size: 0.70em;
  text-align: left;
  margin-left: 1em;
}

.admin-msg {
  align-self: flex-end;
  padding: 0.5em 0.75em;
  border-radius: 15px;
  width: fit-content;
  background-color: #4cac84;
  color: white;
}

.employee-msg {
  background-color: #737078;
  color: white;
  align-self: flex-start;
  padding: 0.5em 0.75em;
  border-radius: 15px;
  width: fit-content;
}

.message-input-and-submit {
  display: flex;
  height: 3em;
}

.message-input {
  width: 85%;
  resize: none;
  padding: 0.5em;
}

.message-submit-btn {
  width: 15%;
}

/* ASSIGNMENTS */

.assignment-navbar {
  display: flex;
}

.urgent-switch-container {
  display: flex;
  align-items: center;
  margin-left: 7.7em;
}

.urgent-switch-msg {
  margin-right: 0.5em;
  display: flex;
  align-items: center;
  color: #737078;
  font-weight: bold;
}

.urgent-switch-icon {
  margin-left: 0.25em;
}

.done-badge {
  padding: 0.25em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
  border-radius: 15px;
  color: white;
  background-color: #b7410e;
  font-size: 0.75em;
}

.due-by {
  margin-top: 0.5em;
  font-size: 0.85em;
  color: #4cac84;
}